#Minimum License Required By Job:                 rahmana_i8243_p1.igxl                                                           

#FEATURE NAME                 ENABLED LEVEL    USED LICENSE COUNT   VERSION              
HSDP_Enable                   1                22                   0.0                  
HSDP_MemoryDepth              1                1                    0.0                  
HSDP_Speed                    1                22                   0.0                  
NumSlots                      1                11                   0.0                  
System                        12               1                    0.0                  
VS-800mA                      1                2                    0.0                  
